/*
 * __/\\\\\\\\\\\\\\\__/\\\\____________/\\\\__/\\\\\\\\\\\\\\\_
 *  _\/\\\///////////__\/\\\\\\________/\\\\\\_\///////\\\/////__
 *   _\/\\\_____________\/\\\//\\\____/\\\//\\\_______\/\\\_______
 *    _\/\\\\\\\\\\\_____\/\\\\///\\\/\\\/_\/\\\_______\/\\\_______
 *     _\/\\\///////______\/\\\__\///\\\/___\/\\\_______\/\\\_______
 *	    _\/\\\_____________\/\\\____\///_____\/\\\_______\/\\\_______
 *	     _\/\\\_____________\/\\\_____________\/\\\_______\/\\\_______
 *        _\/\\\\\\\\\\\\\\\_\/\\\_____________\/\\\_______\/\\\_______
 *         _\///////////////__\///______________\///________\///________
 */

// Standard tabular data styles.
div {
    &.std_table_container {
        @apply py-8;

        div {
            &.std_table_header {
                > h1, h2, h3 {
                    @apply font-semibold;
                }

                > h1 {
                    @apply text-4xl;
                }

                > h2 {
                    @apply text-2xl;
                }

                > h3 {
                    @apply text-xl;
                }
            }

            &.std_table_controls_container {
                @apply my-2 flex sm:flex-row flex-col;

                > div {
                    &.std_table_controls {
                        @apply flex flex-row mb-1 sm:mb-0;

                        > div {
                            &.std_table_search_box {
                                @apply block relative;

                                > span {
                                    @apply h-full absolute inset-y-0 left-0 flex items-center pl-2;

                                    > svg {
                                        @apply h-4 w-4 fill-current text-gray-500;
                                    }
                                }

                                > input {
                                    &.std_table_search_box_input {
                                        @apply appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400;
                                        @apply block pl-8 pr-6 py-2 w-full text-sm focus:bg-gray-700 focus:outline-none;
                                        @apply focus:ring-0 focus:border-green-500;
                                        background-color: #1b1b1f;
                                        color: #b3b3b3;
                                    }

                                    &.std_table_search_box_input_standalone {
                                        @apply sm:rounded-l;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.std_table_outer_wrapper {
                @apply -mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto;

                > div {
                    &.std_table_inner_wrapper {
                        @apply inline-block min-w-full shadow rounded-lg overflow-hidden;

                        > table {
                            &.std_table {
                                @apply min-w-full leading-normal;

                                th {
                                    @apply px-5 py-3 border-b-2 border-gray-200 bg-black text-left text-xs;
                                    @apply font-semibold text-gray-400 uppercase tracking-wider;
                                }

                                > tbody > tr {
                                    // Tailwind CSS doesn't implement a natural grey scale :(
                                    &:nth-child(odd) {
                                        background-color: #18181a;
                                    }

                                    &:nth-child(even) {
                                        background-color: #141416;
                                    }

                                    &.std_table_row {
                                        td {
                                            @apply px-5 py-5 border-b border-gray-200 text-sm;

                                            > a {
                                                @apply text-blue-400 hover:text-blue-700 underline pl-6;
                                                &:first-of-type {
                                                    @apply pl-0;
                                                }
                                            }

                                            > div {
                                                &.std_table_cell_image_text {
                                                    @apply flex items-center;

                                                    > div {
                                                        &.std_table_cell_image_container {
                                                            @apply flex-shrink-0 w-10 h-10;

                                                            > img {
                                                                @apply w-full h-full;
                                                            }
                                                        }

                                                        &.std_table_cell_text_container {
                                                            @apply ml-3;
                                                        }
                                                    }
                                                }
                                            }

                                            p {
                                                @apply text-white whitespace-nowrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        > div {
                            &.std_table_pagination {
                                @apply px-5 py-5 bg-black border-t flex flex-col sm:flex-row items-center sm:justify-between;

                                > span {
                                    @apply text-xs sm:text-sm text-gray-300;
                                }

                                > div {
                                    &.std_table_pagination_buttons {
                                        @apply inline-flex mt-2 sm:mt-0;

                                        button {
                                            @apply text-sm border border-green-500 px-4 py-2 hover:bg-green-500;
                                            @apply text-gray-400 font-semibold hover:border-transparent hover:text-white;

                                            &.std_table_pagination_button_prev {
                                                @apply rounded-l;
                                            }

                                            &.std_table_pagination_button_next {
                                                @apply rounded-r;
                                            }

                                            &:disabled {
                                                @apply opacity-80 border-red-500 hover:bg-red-900 cursor-not-allowed;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
